.video__description--first{
   align-self: flex-end;
   &::before{
      content: '';
      position: absolute;
      left: -20px;
      top: 25px;
      display: block;
      width: 20px;
      height: 50px;
      background: url('/assets/images/arrow1.svg') no-repeat;
   }
}