html{
   font-size: 10px;
}
.body{
   width: 100%;
   background: url('../assets/images/bg.jpg');
   font-family: "VoronovFont";
   font-size: 1.6rem;
   color: $color-text;
}
span{
   display: block;
}
.body--no-scrool{
   overflow: hidden;
}