.burger__line{
   position: absolute;
   top: 10px;
   width: 30px;
   height: 2px;
   background-color: $color-text;
   &::before{
      content: '';
      position: absolute;
      top: -10px;
      display: block;
      width: 30px;
      height: 2px;
      background-color: $color-text;
   }
   &::after{
      content: '';
      position: absolute;
      top:10px;
      left: 0px;
      display: block;
      width: 30px;
      height: 2px;
      background-color: $color-text;
   }
}